@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken();
<div id="loginBtn">
            @Html.ActionLink(User.Identity.GetUserName(), "Index", "Manage", new { @class = "w3-flat-alizarin" })
</div>
        
            <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
    }
}
else
{

            <div id="loginBtn">
                @Html.ActionLink("My Account", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "w3-flat-alizarin" })
</div>
            @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class= "alert-link" })


}
