@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Internal Server Error";
}
<div class="col-md-offset-2 col-md-8">
    <h1 class="text-danger">Error.</h1>
    <img class="img-responsive" src="~/images/Shared/errorImage.jpg" />
    <h2 class="text-danger">An error occurred while processing your request.</h2>
    <ul>
        <li><b>Exception: </b>@Model.Exception.Message</li>
        <li><b>Action: </b>@Model.ActionName</li>
        <li><b>Controller: </b>@Model.ControllerName</li>
    </ul>
    <p class="text-info">
        If Problem persists, contact to your system administrator.
    </p>
</div>
