@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string parallaxClass = "parallax";
    string s = Request.UserAgent;
    if (!s.Contains("Edge") || s.Contains("Firefox"))
    {
        parallaxClass += "2";
    }
}

<!--Slider-->
<div id="slider" class="container-fluid">
    <div class="row" align="center">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <div class="w3-content w3-section" style="{max-height:200px; max-width:100%}">
                <a href="#"><img class="mySlides w3-animate-fading" src="../images/Home/SliderImg1.jpg" style="width:100%"></a>
                <a href="#"><img class="mySlides w3-animate-fading" src="../images/Home/SliderImg2.jpg" style="width:100%"></a>
                <a href="#"><img class="mySlides w3-animate-fading" src="../images/Home/SliderImg3.jpg" style="width:100%"></a>
            </div>
        </div>
    </div>
</div>
<!--Mid Body-->
<div class="container-fluid">
    <div class="row">
        <!--Main Container-->
        <!--Start Parallex-->
        <!--End Paralex-->
        <div class="col-md-8 col-xs-12 col-sm-8 col-lg-8">
            <div class="@parallaxClass">

                <header>
                    <div class="parallexTextBackground">
                        <h1 class="parallexText">Eye World</h1>
                    </div>
                    <div class="w3-flat-pomegranate col-md-2 viewStoreBtn col-md-offset-5">
                        <h6><a href="#">View Store</a></h6>
                    </div>
                </header>
            </div>
        </div>
        <!--Promotion Contianer-->
        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <p class="secHeading w3-flat-pomegranate">Hot Items</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="w3-content" style="max-width:1200px">
                            <a href="#"><img class="mySlides2" src="../images/Home/hotSeller1.jpg" style="width:100%"></a>
                            <a href="#"><img class="mySlides2" src="../images/Home/hotSeller2.jpg" style="width:100%"></a>
                            <a href="#"><img class="mySlides2" src="../images/Home/hotSeller3.jpg" style="width:100%"></a>

                            <div class="w3-row-padding w3-section">
                                <div class="w3-col s4">
                                    <img class="demo w3-opacity w3-hover-opacity-off" src="../images/Home/hotSeller1.jpg" style="width:100%" onclick="currentDiv(1)">
                                </div>
                                <div class="w3-col s4">
                                    <img class="demo w3-opacity w3-hover-opacity-off" src="../images/Home/hotSeller2.jpg" style="width:100%" onclick="currentDiv(2)">
                                </div>
                                <div class="w3-col s4">
                                    <img class="demo w3-opacity w3-hover-opacity-off" src="../images/Home/hotSeller3.jpg" style="width:100%" onclick="currentDiv(3)">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Item Gallery-->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <p class="secHeading">Most Popular Sunglasses</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-xs-12 col-sm-6">
            <table class="table-responsive">
                <tr>
                    <td class="itemcell"><img class="img-thumbnail" src="../images/Home/featuredSunglasses1.jpg" /></td>
                </tr>
                <tr>
                    <td class="itemcell" align="center"><a href="#" class="itemLink">Sunglasses Sample 1</a></td>
                </tr>
                <tr>
                    <td class="itemcell">RS. 1800</td>
                </tr>
            </table>
        </div>
        <div class="col-md-3 col-xs-12 col-sm-6">
            <table class="table-responsive">
                <tr>
                    <td class="itemcell"><img class="img-thumbnail" src="../images/Home/featuredSunglasses2.jpg" /></td>
                </tr>
                <tr>
                    <td class="itemcell" align="center"><a href="#" class="itemLink">Sunglasses Sample 2</a></td>
                </tr>
                <tr>
                    <td class="itemcell">RS. 2100</td>
                </tr>
            </table>
        </div>
        <div class="col-md-3 col-xs-12 col-sm-6">
            <table class="table-responsive">
                <tr>
                    <td class="itemcell"><img class="img-thumbnail" src="../images/Home/featuredSunglasses3.jpg" /></td>
                </tr>
                <tr>
                    <td class="itemcell" align="center"><a href="#" class="itemLink">Sunglasses Sample 2</a></td>
                </tr>
                <tr>
                    <td class="itemcell">RS. 1400</td>
                </tr>
            </table>
        </div>
        <div class="col-md-3 col-xs-12 col-sm-6">
            <table class="table-responsive">
                <tr>
                    <td class="itemcell"><img class="img-thumbnail" src="../images/Home/featuredSunglasses4.jpg" /></td>
                </tr>
                <tr>
                    <td class="itemcell" align="center"><a href="#" class="itemLink">Sunglasses Sample 2</a></td>
                </tr>
                <tr>
                    <td class="itemcell">RS. 1800</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <p class="secHeading">Most Popular Frames</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-xs-12 col-sm-6">
            <table class="table-responsive">
                <tr>
                    <td class="itemcell"><img class="img-thumbnail" src="../images/Home/featuredFrame1.jpg" /></td>
                </tr>
                <tr>
                    <td class="itemcell" align="center"><a href="#" class="itemLink">Frames Sample 1</a></td>
                </tr>
                <tr>
                    <td class="itemcell">RS. 1800</td>
                </tr>
            </table>
        </div>
        <div class="col-md-3 col-xs-12 col-sm-6">
            <table class="table-responsive">
                <tr>
                    <td class="itemcell"><img class="img-thumbnail" src="../images/Home/featuredFrame2.jpg" /></td>
                </tr>
                <tr>
                    <td class="itemcell" align="center"><a href="#" class="../itemLink">Frames Sample 2</a></td>
                </tr>
                <tr>
                    <td class="itemcell">RS. 2100</td>
                </tr>
            </table>
        </div>
        <div class="col-md-3 col-xs-12 col-sm-6">
            <table class="table-responsive">
                <tr>
                    <td class="itemcell"><img class="img-thumbnail" src="../images/Home/featuredFrame3.jpg" /></td>
                </tr>
                <tr>
                    <td class="itemcell" align="center"><a href="#" class="itemLink">Frames Sample 3</a></td>
                </tr>
                <tr>
                    <td class="itemcell">RS. 1400</td>
                </tr>
            </table>
        </div>
        <div class="col-md-3 col-xs-12 col-sm-6">
            <table class="table-responsive">
                <tr>
                    <td class="itemcell"><img class="img-thumbnail" src="../images/Home/featuredFrame4.jpg" /></td>
                </tr>
                <tr>
                    <td class="itemcell" align="center"><a href="#" class="itemLink">Frames Sample 4</a></td>
                </tr>
                <tr>
                    <td class="itemcell">RS. 1800</td>
                </tr>
            </table>
        </div>
    </div>
</div>


